<header class="header">
    <div class="slider">
        <div class="slider__item">
            <img src="/img/header/Header.png" alt="header-img1">
        </div>
        <div class="slider__item">
            <img src="/img/header/Header2.png" alt="header-img2">
        </div>
        <div class="slider__item">
            <img src="/img/header/Header3.png" alt="header-img3">
        </div>
        <div class="slider__item">
            <img src="/img/header/Header4.png" alt="header-img4">
        </div>
        <div class="slider__item">
            <img src="/img/header/Header5.png" alt="header-img5">
        </div>
    </div>
    <div class="container">
        <div class="container__logotip">
            <a href="#">
                <img src="/img/logo.png" alt="logotip-1">
            </a>
        </div>
        <div class="container__nav-menu">
            <ul>
                <li class="dropdown"><a href="#">WHY BWS</a>
                    <div class="block-p">
                        <div class="under-menu">
                            <div class="under-menu__whoweare">
                                <h3>Who we are</h3>
                                <ul>
                                    <li><a href="template/about.html">How we work</a></li>
                                    <li><a href="#">Client Testimonials</a></li>
                                </ul>
                            </div>
                            <div class="under-menu__team">
                                <h3>Team</h3>
                                <ul>
                                    <li><a href="#">Award and partners</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="under-menu__contactus">
                                <h3>Contact us</h3>
                                <span>
                                    <img src="/img/skype-dark.png" alt="skype">
                                    <a href="#">skype_login</a>
                                </span>
                                <span>
                                    <img src="/img/tele-dark.png" alt="tele-dark">
                                    <a href="#">+1 123 456 78912</a>
                                </span>
                                <button class="writetous">
                                    write to us
                                </button>
                                <button class="letsworktogether">
                                    let's work together
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
        <div class="container__request-block ">
            <div class="skype-phone">
                <img src="/img/skype.png" alt="skype">
                <p>bws_skype</p>
                <img src="/img/tele.png" alt="phone">
                <a href="#">+1 123 567 8912</a>
            </div>
            <div class="lang">
                <img src="../img/language.png" alt="lang">
                <p>language</p>
                <a href="#" class="active-lang">ENG</a>
                <p>/</p>
                <a href="#">RUS</a>
            </div>
            <a href="#popup">
                <div class="request-btn">
                    <p>request quote</p>
                    <img src="/img/check-mark.png" alt="check-mark">
                </div>
            </a>
            <div class="search-field">
                <input type="search">
                <img src="/img/search.png" alt="search">
            </div>
        </div>
    </div>
    <img src="../img/headerline.png" alt="header-line" class="header-line">
</header>