<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Bauart Web Solution</title>
</head>

<body>
    @@include('_header.html')
    <main class="main">
        <div class="main__head-whoweare">
            <h2>who we are</h2>
            <p> Web Development Company Bauart Web Solutions was founded in Russia, Siberia in 2009.
                Now we have become one of the market leaders in our region. Our company is only discovering the American
                market now and we are really ready to work. We belong to the heart of the digital world. Our strengths
                are competence, diligence and creativity.
            </p>
        </div>
        <div class="main__review-body review-body">
            <div class="review-body__slider container-min">
                <div class="slider-review">
                    <div class="slider-review__item item">
                        <div class="item__logo">
                            <img src="/img/reviewlogo/upworkNew2.png" alt="upworkNew2">
                        </div>
                        <div class="item__body">
                            <h3>BAUART Group is a Top Rated agency on Upwork</h3>
                            <p>Let our work speak for itself</p>
                            <img src="/img/rev.png" alt="rev"><br>
                            <i>Excellent communication, completed the project exactly as requested. Created AMP landing
                                page using an existing non-AMP page as a reference.</i>
                            <p>Name </p>
                            <p>USA, New York</p>
                        </div>
                    </div>
                    <div class="slider-review__item item">
                        <div class="item__logo">
                            <img src="/img/reviewlogo/upworkNew2.png" alt="upworkNew2">
                        </div>
                        <div class="item__body">
                            <h3>BAUART Group is a Top Rated agency on Upwork</h3>
                            <p>Let our work speak for itself</p>
                            <img src="/img/rev.png" alt="rev"><br>
                            <i>Excellent communication, completed the project exactly as requested. Created AMP landing
                                page using an existing non-AMP page as a reference.</i>
                            <p>Name </p>
                            <p>USA, New York</p>
                        </div>
                    </div>
                    <div class="slider-review__item item">
                        <div class="item__logo">
                            <img src="/img/reviewlogo/upworkNew2.png" alt="upworkNew2">
                        </div>
                        <div class="item__body">
                            <h3>BAUART Group is a Top Rated agency on Upwork</h3>
                            <p>Let our work speak for itself</p>
                            <img src="/img/rev.png" alt="rev"><br>
                            <i>Excellent communication, completed the project exactly as requested. Created AMP landing
                                page using an existing non-AMP page as a reference.</i>
                            <p>Name </p>
                            <p>USA, New York</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__seeportfolio flex-column container-min">
            <h2>WE MAKE PRODUCTS WE’RE PROUD TO PUT OUR NAME ON</h2>
            <a class="a-orange-btn" href="#">SEE PORTFOLIO</a>
        </div>
        <div class="main__request-block">
            <div class="request-block container-min flex-column">
                <h2>Connect With Experts</h2>
                <p>We are happy to answer your question and take your App to a next level of excellence.</p>
                <form action="post">
                    <div class="allblock-request">
                        <div class="request-block__left flex-column">
                            <input class="mb" type="text" id="name" placeholder="Full name" required>
                            <input class="mb" type="email" id="email" placeholder="Email" required>
                            <input class="mb" type="tel" id="phone" placeholder="Phone">
                            <input class="mb" type="text" id="interested" placeholder="I'm interested" required>
                        </div>
                        <div class="request-block__right">
                            <textarea name="comment" placeholder="Tell me about your project" id="comment" cols="50"
                                rows="7"></textarea>
                            <h4>Project budget</h4>
                            <div class="radio-btn flex">
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn1" value="Under 10k">
                                    <label for="btn1">Under 10k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn2" value="10k - 25k">
                                    <label for="btn2">10k - 25k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn3" value="25k - 50kk">
                                    <label for="btn3">25k - 50k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn4" value="50k - 75k">
                                    <label for="btn4">50k - 75k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn5" value="75k - 100k">
                                    <label for="btn5">75k - 100k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn6" value="Over 100k">
                                    <label for="btn6">Over 100k</label>
                                </div>
                                <img class="line-abs" src="/img/stic.png" alt="stic">
                            </div>
                            <div class="check-adwise">
                                <input type="checkbox" id="check" name="check">
                                <p>
                                    I wish to receive occasional newsletters and emails from BWS</p>
                            </div>
                            <input class="submit-btn hover1" type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="main__news-block">
            <h2>LATEST NEWS AND INSIGHTS</h2>
            <a href="#">All posts >></a>
            <div class="news-block container-min">
                <div class="news-block__left">
                    <div class="img-block">
                        <img src="/img/news/news1.png" alt="news1">
                    </div>
                    <div class="body-news">
                        <div class="sub-title">
                            <p>NEWS</p>
                        </div>
                        <div class="title">
                            <h4>Our company enters the US market and launches a new website.</h4>
                        </div>
                        <div class="text-news">
                            <p>Explore how we started and where
                                we go now.</p>
                        </div>
                    </div>
                </div>
                <div class="news-block__right">
                    <div class="news-item">
                        <div class="img-block">
                            <img src="/img/news/news2.png" alt="news2">
                        </div>
                        <div class="body-news">
                            <div class="sub-title">
                                <p>NEWS</p>
                            </div>
                            <div class="title">
                                <h4>App Store developers
                                    have pocketed $120bn
                                    since 2008</h4>
                            </div>
                            <div class="text-news">
                                <p>Apple has used the start of its
                                    Entrepreneur Camp in Cupertino as
                                    an opportunity to announce some
                                    of its latest App Store statistics.</p>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="img-block">
                            <img src="/img/news/news3.png" alt="news3">
                        </div>
                        <div class="body-news">
                            <div class="sub-title">
                                <p>TECH TRENDS</p>
                            </div>
                            <div class="title">
                                <h4>Google will revise ad
                                    blocker-killing Chromium
                                    proposal</h4>
                            </div>
                            <div class="text-news">
                                <p>Google has decided to revise its
                                    proposed Chromium update that
                                    would have killed ad blockers and
                                    some other extensions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        @@include('../_footer.html')
        <div class="footer__copyright">
            <div class="container-min links-block">
                <p> Copyright © 2009-2019 - BAUART WEB SOLUTIONS / All Rights Reserverd.</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </footer>
    @@include('_modal.html')
    @@include('_scripts.html')
</body>

</html>