<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet" />
    <title>Bauart Web Solution</title>
</head>

<body>
    @@include('_header.html')
    <main class="main">
        <div class="main__head-whoweare">
            <h2>who we are</h2>
            <p> Web Development Company Bauart Web Solutions was founded in Russia, Siberia in 2009.
                Now we have become one of the market leaders in our region. Our company is only discovering the American
                market now and we are really ready to work. We belong to the heart of the digital world. Our strengths
                are competence, diligence and creativity.
            </p>
        </div>
        <div class="main__ourteam mg">
            <div class="ourteam-title">
                <h3>OUR TEAM</h3>
            </div>
            <div class="ourteam-body">
                <div class="item">
                    <div class="item__img">
                    </div>
                    <div class="item__title">NAME</div>
                    <div class="item__subtitle">Position</div>
                    <div class="item__text">Characterization hobby</div>
                </div>
                <div class="item">
                    <div class="item__img">
                    </div>
                    <div class="item__title">NAME</div>
                    <div class="item__subtitle">Position</div>
                    <div class="item__text">Characterization hobby</div>
                </div>
                <div class="item">
                    <div class="item__img">
                    </div>
                    <div class="item__title">NAME</div>
                    <div class="item__subtitle">Position</div>
                    <div class="item__text">Characterization hobby</div>
                </div>
                <div class="item">
                    <div class="item__img">
                    </div>
                    <div class="item__title">NAME</div>
                    <div class="item__subtitle">Position</div>
                    <div class="item__text">Characterization hobby</div>
                </div>
            </div>
            <div class="allteam">
                <a href="#">view all team >></a>
            </div>
        </div>
        <div class="main__head-whoweare i-text mg">
            <h2>our mission and vision</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. <i>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur.</i> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium.
            </p>
        </div>
        <div class="main__our-values mg">
            <h2>our values</h2>
            <div class="our-values-body">
                <div class="card">
                    <img src="/img/values/team.png" alt="team">
                    <div class="card__title">Team Collaboration</div>
                    <div class="card__text">
                        <p>Every member of BAUART is a great player with awesome skills and passion for their work.
                            However, in a team, we unite outstanding minds into the unique harmonized organism that
                            grows and develops. Personally we can do a lot but in a team we can do more.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/values/goal.png" alt="goal">
                    <div class="card__title">Quality and Result</div>
                    <div class="card__text">
                        <p>Quality is the engine that always pulls us towards moving forward and growing up in order to
                            create something new, unique. We do everything as good as we do it for ourselves. That’s how
                            we achieve personal and client’s satisfaction to make sure that people stay loyal to us.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/values/honest.png" alt="honest">
                    <div class="card__title">Honesty and Transparency</div>
                    <div class="card__text">
                        <p>Open and honest communication is the key to good cooperation. We are always sincere and ready
                            to explain our actions and decisions so that no pitfalls or uncertainty can happen. It’s
                            also about providing constructive feedback and holding us accountable for the work and
                            demanding our best effort.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/values/pencil.png" alt="pencil">
                    <div class="card__title">Development and Creativity</div>
                    <div class="card__text">
                        <p>We are open to new ideas and always ready to grow. Every day is a chance to become better. We
                            are keeping up with the trends to get stronger. We study the successful examples and try to
                            be different. We are bold in what we do to meet the wildest expectations.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/values/project.png" alt="projcet">
                    <div class="card__title">Responsibility</div>
                    <div class="card__text">
                        <p>Every team member understands their influence on the development of the company. All the
                            relations are built with dedication and full commitment. Being proactive helps us to meet
                            all the stakeholders’ expectations and eliminate all the possible issues. We do what we say.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/values/fun.png" alt="fun">
                    <div class="card__title">Put Users First</div>
                    <div class="card__text">
                        <p>Solving problems for users is vital to building successful products. Through human-centered
                            design principles, we focus on the people that we're creating for.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__ourclients mg">
            <div class="slider-clients">
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/forward.png" alt="forward">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/doma-bani.png" alt="doma-bani">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/imperia.png" alt="imp">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/mgevent.png" alt="event">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/ROSNANO.png" alt="ros">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/siberia.png" alt="sib">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/forward.png" alt="forward">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/doma-bani.png" alt="doma-bani">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/imperia.png" alt="imp">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/mgevent.png" alt="event">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/ROSNANO.png" alt="ros">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-clients__item">
                    <a href="#">
                        <div class="item-body">
                            <img src="../img/clients/siberia.png" alt="sib">
                            <div class="svg-right"> <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#FF9F00" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="main__review-body review-body">
            <div class="review-body__slider container-min">
                <div class="slider-review">
                    <div class="slider-review__item item">
                        <div class="item__logo">
                            <img src="/img/reviewlogo/upworkNew2.png" alt="upworkNew2">
                        </div>
                        <div class="item__body">
                            <h3>BAUART Group is a Top Rated agency on Upwork</h3>
                            <p>Let our work speak for itself</p>
                            <img src="/img/rev.png" alt="rev"><br>
                            <i>Excellent communication, completed the project exactly as requested. Created AMP landing
                                page using an existing non-AMP page as a reference.</i>
                            <p>Name </p>
                            <p>USA, New York</p>
                        </div>
                    </div>
                    <div class="slider-review__item item">
                        <div class="item__logo">
                            <img src="/img/reviewlogo/upworkNew2.png" alt="upworkNew2">
                        </div>
                        <div class="item__body">
                            <h3>BAUART Group is a Top Rated agency on Upwork</h3>
                            <p>Let our work speak for itself</p>
                            <img src="/img/rev.png" alt="rev"><br>
                            <i>Excellent communication, completed the project exactly as requested. Created AMP landing
                                page using an existing non-AMP page as a reference.</i>
                            <p>Name </p>
                            <p>USA, New York</p>
                        </div>
                    </div>
                    <div class="slider-review__item item">
                        <div class="item__logo">
                            <img src="/img/reviewlogo/upworkNew2.png" alt="upworkNew2">
                        </div>
                        <div class="item__body">
                            <h3>BAUART Group is a Top Rated agency on Upwork</h3>
                            <p>Let our work speak for itself</p>
                            <img src="/img/rev.png" alt="rev"><br>
                            <i>Excellent communication, completed the project exactly as requested. Created AMP landing
                                page using an existing non-AMP page as a reference.</i>
                            <p>Name </p>
                            <p>USA, New York</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__wantwork">
            <h2>Want work woth us?</h2>
            <p>We’re always looking for talented and self-motivated people to join our cool and hard-working team! If you like to work on high-quality projects and cutting-edge technologies, we have a spot for you!</p>
            <div class="wantwork-cards">
                <div class="wantwork-cards__item">
                    <div class="flex">
                        <div class="item__img">
                            <img src="../img/wantwork/programming.png" alt="programmimg">
                        </div>
                        <div class="item__title">
                            <h4>PHP Developers</h4>
                            <p>Krasnoyarsk, Russia</p>
                        </div>
                    </div>
                    <div class="item__btn">
                        <a href="#">SEE MORE</a>
                    </div>
                </div>
                <div class="wantwork-cards__item">
                    <div class="flex">
                        <div class="item__img">
                            <img src="../img/wantwork/smm.png" alt="smm">
                        </div>
                        <div class="item__title">
                            <h4>SMM Manager</h4>
                            <p>Krasnoyarsk, Russia</p>
                        </div>
                    </div>
                    <div class="item__btn">
                        <a href="#">SEE MORE</a>
                    </div>
                </div>
                <div class="wantwork-cards__item">
                    <div class="flex">
                        <div class="item__img">
                            <img src="../img/wantwork/research.png" alt="research">
                        </div>
                        <div class="item__title">
                            <h4>SEO Specialist</h4>
                            <p>Krasnoyarsk, Russia</p>
                        </div>
                    </div>
                    <div class="item__btn">
                        <a href="#">SEE MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__seeportfolio flex-column container-min">
            <h2>WE MAKE PRODUCTS WE’RE PROUD TO PUT OUR NAME ON</h2>
            <a class="a-orange-btn" href="#">SEE PORTFOLIO</a>
        </div>
        <div class="main__request-block">
            <div class="request-block container-min flex-column">
                <h2>Connect With Experts</h2>
                <p>We are happy to answer your question and take your App to a next level of excellence.</p>
                <form action="post">
                    <div class="allblock-request">
                        <div class="request-block__left flex-column">
                            <input class="mb" type="text" id="name" placeholder="Full name" required>
                            <input class="mb" type="email" id="email" placeholder="Email" required>
                            <input class="mb" type="tel" id="phone" placeholder="Phone">
                            <input class="mb" type="text" id="interested" placeholder="I'm interested" required>
                        </div>
                        <div class="request-block__right">
                            <textarea name="comment" placeholder="Tell me about your project" id="comment" cols="50" rows="7"></textarea>
                            <h4>Project budget</h4>
                            <div class="radio-btn flex">
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn1" value="Under 10k">
                                    <label for="btn1">Under 10k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn2" value="10k - 25k">
                                    <label for="btn2">10k - 25k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn3" value="25k - 50kk">
                                    <label for="btn3">25k - 50k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn4" value="50k - 75k">
                                    <label for="btn4">50k - 75k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn5" value="75k - 100k">
                                    <label for="btn5">75k - 100k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn6" value="Over 100k">
                                    <label for="btn6">Over 100k</label>
                                </div>
                                <img class="line-abs" src="/img/stic.png" alt="stic">
                            </div>
                            <div class="check-adwise">
                                <input type="checkbox" id="check" name="check">
                                <p>
                                    I wish to receive occasional newsletters and emails from BWS</p>
                            </div>
                            <input class="submit-btn hover1" type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="main__news-block">
            <h2>LATEST NEWS AND INSIGHTS</h2>
            <a href="#">All posts >></a>
            <div class="news-block container-min">
                <div class="news-block__left">
                    <div class="img-block">
                        <img src="/img/news/news1.png" alt="news1">
                    </div>
                    <div class="body-news">
                        <div class="sub-title">
                            <p>NEWS</p>
                        </div>
                        <div class="title">
                            <h4>Our company enters the US market and launches a new website.</h4>
                        </div>
                        <div class="text-news">
                            <p>Explore how we started and where
                                we go now.</p>
                        </div>
                    </div>
                </div>
                <div class="news-block__right">
                    <div class="news-item">
                        <div class="img-block">
                            <img src="/img/news/news2.png" alt="news2">
                        </div>
                        <div class="body-news">
                            <div class="sub-title">
                                <p>NEWS</p>
                            </div>
                            <div class="title">
                                <h4>App Store developers
                                    have pocketed $120bn
                                    since 2008</h4>
                            </div>
                            <div class="text-news">
                                <p>Apple has used the start of its
                                    Entrepreneur Camp in Cupertino as
                                    an opportunity to announce some
                                    of its latest App Store statistics.</p>
                            </div>
                        </div>
                    </div>
                    <div class="news-item">
                        <div class="img-block">
                            <img src="/img/news/news3.png" alt="news3">
                        </div>
                        <div class="body-news">
                            <div class="sub-title">
                                <p>TECH TRENDS</p>
                            </div>
                            <div class="title">
                                <h4>Google will revise ad
                                    blocker-killing Chromium
                                    proposal</h4>
                            </div>
                            <div class="text-news">
                                <p>Google has decided to revise its
                                    proposed Chromium update that
                                    would have killed ad blockers and
                                    some other extensions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        @@include('../_footer.html')
        <div class="footer__copyright">
            <div class="container-min links-block">
                <p> Copyright © 2009-2019 - BAUART WEB SOLUTIONS / All Rights Reserverd.</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </footer>
    @@include('_modal.html')
    @@include('_scripts.html')
</body>

</html>