<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet" />
    <title>Bauart Web Solution</title>
</head>

<body>
    @@include('_header.html')
    <main class="main">
        <div class="main__head-whoweare">
            <h2>BLOG</h2>
        </div>
        <div class="main__blog-containter">
            <div class="container-article">
                <div class="article-item">
                    <div class="article-item__img">
                        <img src="/img/img_blog/img_blog1.png" alt="blog1">
                    </div>
                    <div class="article-item__title">
                        <h4>Our company enters the US market and launches a new website</h4>
                    </div>
                    <div class="article-item__subtitle">
                        <p>May 10, 2019 | Yakov Migas | <a href="#">Buisness Development</a></p>
                    </div>
                    <div class="article-item__content">
                        <p>Explore how we started and where we go now. Explore how we started and where we go
                            now. Explore how we started and where we go now. Explore how we started and where
                            we go now. Explore how we started and where we go now [...]</p>
                    </div>
                    <div class="article-item__readmore">
                        <a href="#">Read More >> </a>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-item__img">
                        <img src="/img/img_blog/img_blog2.png" alt="blog1">
                    </div>
                    <div class="article-item__title">
                        <h4>Our company enters the US market and launches a new website</h4>
                    </div>
                    <div class="article-item__subtitle">
                        <p>May 10, 2019 | Yakov Migas | <a href="#">Buisness Development</a></p>
                    </div>
                    <div class="article-item__content">
                        <p>Explore how we started and where we go now. Explore how we started and where we go
                            now. Explore how we started and where we go now. Explore how we started and where
                            we go now. Explore how we started and where we go now [...]</p>
                    </div>
                    <div class="article-item__readmore">
                        <a href="#">Read More >> </a>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-item__img">
                        <img src="/img/img_blog/img_blog3.png" alt="blog1">
                    </div>
                    <div class="article-item__title">
                        <h4>Our company enters the US market and launches a new website</h4>
                    </div>
                    <div class="article-item__subtitle">
                        <p>May 10, 2019 | Yakov Migas | <a href="#">Buisness Development</a></p>
                    </div>
                    <div class="article-item__content">
                        <p>Explore how we started and where we go now. Explore how we started and where we go
                            now. Explore how we started and where we go now. Explore how we started and where
                            we go now. Explore how we started and where we go now [...]</p>
                    </div>
                    <div class="article-item__readmore">
                        <a href="#">Read More >> </a>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-item__img">
                        <img src="/img/img_blog/img_blog4.png" alt="blog1">
                    </div>
                    <div class="article-item__title">
                        <h4>Our company enters the US market and launches a new website</h4>
                    </div>
                    <div class="article-item__subtitle">
                        <p>May 10, 2019 | Yakov Migas | <a href="#">Buisness Development</a></p>
                    </div>
                    <div class="article-item__content">
                        <p>Explore how we started and where we go now. Explore how we started and where we go
                            now. Explore how we started and where we go now. Explore how we started and where
                            we go now. Explore how we started and where we go now [...]</p>
                    </div>
                    <div class="article-item__readmore">
                        <a href="#">Read More >> </a>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-item__img">
                        <img src="/img/img_blog/img_blog5.png" alt="blog1">
                    </div>
                    <div class="article-item__title">
                        <h4>Our company enters the US market and launches a new website</h4>
                    </div>
                    <div class="article-item__subtitle">
                        <p>May 10, 2019 | Yakov Migas | <a href="#">Buisness Development</a></p>
                    </div>
                    <div class="article-item__content">
                        <p>Explore how we started and where we go now. Explore how we started and where we go
                            now. Explore how we started and where we go now. Explore how we started and where
                            we go now. Explore how we started and where we go now [...]</p>
                    </div>
                    <div class="article-item__readmore">
                        <a href="#">Read More >> </a>
                    </div>
                </div>
            </div>
            <div class="container-sidebar">
                <div class="latest-post">
                    <h5>Latest Posts</h5>
                    <div class="posts">
                        <div class="posts__img">
                            <img src="../img/news/news1.png" alt="img">
                        </div>
                        <div class="posts__titledata">
                            <h6>Google will revise ad blocker-killing...</h6>
                            <p>May 27, 2019</p>
                        </div>
                    </div>
                    <div class="posts">
                        <div class="posts__img">
                            <img src="../img/news/news2.png" alt="img2">
                        </div>
                        <div class="posts__titledata">
                            <h6>App Store developers
                                have pocketed...</h6>
                            <p>May 12, 2019</p>
                        </div>
                    </div>
                    <div class="posts">
                        <div class="posts__img">
                            <img src="../img/news/news3.png" alt="img3">
                        </div>
                        <div class="posts__titledata">
                            <h6>Our company enters
                                the US market and...</h6>
                            <p>May 10, 2019</p>
                        </div>
                    </div>
                </div>
                <div class="categories">
                    <h5>Categories</h5>
                    <div class="categories_list">
                        <a href="#">App Development</a>
                        <a href="#">Blogging</a>
                        <a href="#">Business marketing</a>
                        <a href="#">Business Development</a>
                        <a href="#">Design</a>
                        <a href="#">Digigtal Marketing</a>
                        <a href="#">Gaming</a>
                        <a href="#">General</a>
                        <a href="#">Growth Hacking</a>
                        <a href="#">Mobile application</a>
                        <a href="#">Press And Media Release</a>
                        <a href="#">Team Building & Culture</a>
                        <a href="#">Tech</a>
                        <a href="#">UX/UI</a>
                        <a href="#">Website Development</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__navigation_button">
            <div class="number_change_list"><a href="#">
                    <svg class="svg-icon svg-map-card" width="100" height="100" viewBox="0 0 100 100"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50ZM5 50C5 74.8528 25.1472 95 50 95C74.8528 95 95 74.8528 95 50C95 25.1472 74.8528 5 50 5C25.1472 5 5 25.1472 5 50Z" />
                        <text x='35' y='75' fill='#7C7C7C;' font-size='72px'>
                            1
                        </text>
                    </svg>
                </a></div>
            <div class="number_change_list">
                <a href="#">
                    <svg class="svg-icon svg-map-card" width="100" height="100" viewBox="0 0 100 100"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50ZM5 50C5 74.8528 25.1472 95 50 95C74.8528 95 95 74.8528 95 50C95 25.1472 74.8528 5 50 5C25.1472 5 5 25.1472 5 50Z" />
                        <text x='30' y='75' fill='#7C7C7C;' font-size='72px'>
                            2
                        </text> </svg>
                </a> </div>
            <div class="number_change_list">
                <a href="#">
                    <svg class="svg-icon svg-map-card" width="100" height="100" viewBox="0 0 100 100"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50ZM5 50C5 74.8528 25.1472 95 50 95C74.8528 95 95 74.8528 95 50C95 25.1472 74.8528 5 50 5C25.1472 5 5 25.1472 5 50Z" />
                        <text x='30' y='75' fill='#7C7C7C;' font-size='72px'>
                            3
                        </text> </svg>
                </a> </div>
            <div class="number_change_list">
                <a href="#">
                    <svg class="svg-icon svg-map-card" width="100" height="100" viewBox="0 0 100 100"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50ZM5 50C5 74.8528 25.1472 95 50 95C74.8528 95 95 74.8528 95 50C95 25.1472 74.8528 5 50 5C25.1472 5 5 25.1472 5 50Z" />
                        <text x='30' y='75' fill='#7C7C7C;' font-size='72px'>
                            4
                        </text> </svg>
                </a></div>
            <div class="number_change_list">
                <a href="#">
                    <svg class="svg-icon svg-map-card" width="100" height="100" viewBox="0 0 100 100"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50ZM5 50C5 74.8528 25.1472 95 50 95C74.8528 95 95 74.8528 95 50C95 25.1472 74.8528 5 50 5C25.1472 5 5 25.1472 5 50Z" />
                        <circle cx="30" cy="67" r="7" />
                        <circle cx="50" cy="67" r="7" />
                        <circle cx="70" cy="67" r="7" />
                    </svg>
                </a></div>
            <div class="number_change_list">
                <a href="#">
                    <svg class="svg-icon svg-map-card" width="100" height="100" viewBox="0 0 100 100"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50ZM5 50C5 74.8528 25.1472 95 50 95C74.8528 95 95 74.8528 95 50C95 25.1472 74.8528 5 50 5C25.1472 5 5 25.1472 5 50Z" />
                        <text x='30' y='75' fill='#7C7C7C;' font-size='72px'>
                            9
                        </text> </svg>
                </a></div>
            <div class="number_change_list">
                <a href="#">
                    <svg class="svg-icon" width="100" height="100" viewBox="0 0 100 100"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50C100 77.6142 77.6142 100 50 100C22.3858 100 0 77.6142 0 50C0 22.3858 22.3858 0 50 0C77.6142 0 100 22.3858 100 50ZM5 50C5 74.8528 25.1472 95 50 95C74.8528 95 95 74.8528 95 50C95 25.1472 74.8528 5 50 5C25.1472 5 5 25.1472 5 50Z" />
                        <text x='10' y='75' fill='#7C7C7C;' font-size='72px'>
                            10
                        </text> </svg>
                </a></div>
        </div>

        <div class="main__subscribe-form">
            <h4>SUGN UP FOR OUR NEWSLETTER</h4>
            <p>Get our articles, case studies, infographics directly into your inbox.
                Your information will be confidential and secure.</p>

            <form action="#">
                <div class="subscribe-input">
                    <input type="email" id="email-11" placeholder="Email">
                    <input type="submit" value="SUBSCRIBE">
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        @@include('_footer.html')
        <div class="footer__copyright">
            <div class="container-min links-block">
                <p> Copyright © 2009-2019 - BAUART WEB SOLUTIONS / All Rights Reserverd.</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </footer>
    @@include('_modal.html')
    @@include('_scripts.html')
</body>

</html>