<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet" />
    <title>Bauart Web Solution</title>
</head>

<body>
    @@include('_header.html')
    <main class="main">
        <div class="main__head-whoweare">
            <h2>reach us</h2>
            <p> Web Development Company Bauart Web Solutions was founded in Russia, Siberia in 2009.
                Now we have become one of the market leaders in our region. Our company is only discovering the American
                market now and we are really ready to work. We belong to the heart of the digital world. Our strengths
                are competence, diligence and creativity.
            </p>
        </div>
        <div class="main__lets-block">
            <div class="lets-block item">
                <div class="item__title">
                    <h4>LET'S MEET UP</h4>
                </div>
                <div class="item__text">
                    <p>Passing through one of our cities?
                        Let’s meet up.</p>
                </div>
                <div class="item__icon-text">
                    <div class="icon-text-element">
                        <img src="../img/contacts/gps.png" alt="gps">
                        <p>20K 2nd Bryanskaya
                            4th flo
                            or
                            Krasnoyarsk 660048
                            Russia</p>
                    </div>
                    <div class="icon-text-element">
                        <img src="../img/contacts/timezone.png" alt="tm">
                        <p>GMT +7</p>
                    </div>
                </div>
            </div>
            <div class="lets-block item">
                <div class="item__title">
                    <h4>GET IN TOUCH</h4>
                </div>
                <div class="item__text">
                    <p>We'd love to hear about your digital project.
                        Please get in touch with
                        one of our Project Consultants.</p>
                </div>
                <div class="item__icon-text">
                    <div class="icon-text-element">
                        <img src="../img/contacts/gmail.png" alt="email">
                        <p>info@xtreemsolution.com</p>
                    </div>
                    <div class="icon-text-element">
                        <img src="../img/contacts/phone.png" alt="phone">
                        <p>+7 923 354 6214</p>
                    </div>
                    <div class="icon-text-element">
                        <img src="../img/contacts/skype.png" alt="skype">
                        <p>bsw_skype</p>
                    </div>
                </div>
            </div>
            <div class="lets-block item">
                <div class="item__title">
                    <h4>LET'S CONNECT</h4>
                </div>
                <div class="item__text">
                    <p>We’re on all of your favorite channels!
                        Let's be friends - connect with us!</p>
                </div>
                <div class="item__icon-text">
                    <div class="icon-text-element">
                        <img src="../img/contacts/instagram.png" alt="instagram">
                        <p>@bauartwebsolutions</p>
                    </div>
                    <div class="icon-text-element">
                        <img src="../img/contacts/facebook.png" alt="facebook">
                        <p>f</p>
                    </div>
                    <div class="icon-text-element">
                        <img src="../img/contacts/upwork-tile.png" alt="upwork-tile">
                        <p>BAUART Group</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__ouroffice">
            <h2>Our Office</h2>
            <div class="ouriffice-map">
                <div class="map">
                    <img src="/img/map.png" alt="map">
                </div>
            </div>
        </div>
        <div class="main__request-block">
            <div class="request-block container-min flex-column">
                <h2>Connect With Experts</h2>
                <p>We are happy to answer your question and take your App to a next level of excellence.</p>
                <form action="post">
                    <div class="allblock-request">
                        <div class="request-block__left flex-column">
                            <input class="mb" type="text" id="name" placeholder="Full name" required>
                            <input class="mb" type="email" id="email" placeholder="Email" required>
                            <input class="mb" type="tel" id="phone" placeholder="Phone">
                            <input class="mb" type="text" id="interested" placeholder="I'm interested" required>
                        </div>
                        <div class="request-block__right">
                            <textarea name="comment" placeholder="Tell me about your project" id="comment" cols="50"
                                rows="7"></textarea>
                            <h4>Project budget</h4>
                            <div class="radio-btn flex">
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn1" value="Under 10k">
                                    <label for="btn1">Under 10k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn2" value="10k - 25k">
                                    <label for="btn2">10k - 25k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn3" value="25k - 50kk">
                                    <label for="btn3">25k - 50k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn4" value="50k - 75k">
                                    <label for="btn4">50k - 75k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn5" value="75k - 100k">
                                    <label for="btn5">75k - 100k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn6" value="Over 100k">
                                    <label for="btn6">Over 100k</label>
                                </div>
                                <img class="line-abs" src="/img/stic.png" alt="stic">
                            </div>
                            <div class="check-adwise">
                                <input type="checkbox" id="check" name="check">
                                <p>
                                    I wish to receive occasional newsletters and emails from BWS</p>
                            </div>
                            <input class="submit-btn hover1" type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        @@include('_footer.html')
        <div class="footer__copyright">
            <div class="container-min links-block">
                <p> Copyright © 2009-2019 - BAUART WEB SOLUTIONS / All Rights Reserverd.</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </footer>
    @@include('_modal.html')
    @@include('_scripts.html')
</body>

</html>