<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet" />
    <title>Bauart Web Solution</title>
</head>

<body>
    @@include('_header.html')
    <main class="main">
        <div class="main__head-whoweare">
            <h2>FREQUENTLY ASKED QUESTIONS</h2>
            <p> We've compiled a list of commonly asked questions for your convenience. If you are unable to find the
                answer to your question, please contact us for further assistance. You can also browse the topics below
                to find what you are looking for.
            </p>
        </div>
        <a href="#body" class="popup__area"></a>
        <div class="main__questions">
            <div class="questions--tabs">
                <div class="tabs--item is-active tab-1">
                    GENERAL
                </div>
                <div class="tabs--item tab-2">
                    WEBSITE
                </div>
                <div class="tabs--item tab-3">
                    BRANDING
                </div>
                <div class="tabs--item tab-4">
                    APP
                </div>
                <div class="tabs--item tab-5">
                    SEO
                </div>
            </div>
            <div class="questions--accordion tab-content-1 tab-content-active">
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        1 How much time do you take for developing a website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        What are your testing strategies?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Are your websites mobile compatible?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        So, can I make some changes to the website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Define CMS? Do I really need it?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
            </div>
            <div class="questions--accordion tab-content-2">
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        2 How much time do you take for developing a website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        What are your testing strategies?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Are your websites mobile compatible?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        So, can I make some changes to the website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Define CMS? Do I really need it?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
            </div>
            <div class="questions--accordion tab-content-3">
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        3 How much time do you take for developing a website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        What are your testing strategies?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Are your websites mobile compatible?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        So, can I make some changes to the website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Define CMS? Do I really need it?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
            </div>
            <div class="questions--accordion tab-content-4">
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        4 How much time do you take for developing a website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        What are your testing strategies?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Are your websites mobile compatible?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        So, can I make some changes to the website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Define CMS? Do I really need it?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
            </div>
            <div class="questions--accordion tab-content-5">
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        5 How much time do you take for developing a website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        What are your testing strategies?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Are your websites mobile compatible?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        So, can I make some changes to the website?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
                <div class="accordion__item">
                    <div class="item__trigger">
                        <svg class="svg-trigger" width="24" height="14" viewBox="0 0 28 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 0L14 10L24 0L28 2L14 16L0 2L4 0Z" />
                        </svg>
                        Define CMS? Do I really need it?
                    </div>
                    <div class="item__content">
                        Yes, we do provide you with this opportunity. We proffer changes into the websites as and when
                        required. One of the objectives are identified, we define all the parameters that must be
                        inculcated so as to make the website as updated as possible.
                    </div>
                </div>
            </div>
        </div>
        <div class="main__request-block">
            <div class="request-block container-min flex-column">
                <h2>Connect With Experts</h2>
                <p>We are happy to answer your question and take your App to a next level of excellence.</p>
                <form action="post">
                    <div class="allblock-request">
                        <div class="request-block__left flex-column">
                            <input class="mb" type="text" id="name" placeholder="Full name" required>
                            <input class="mb" type="email" id="email" placeholder="Email" required>
                            <input class="mb" type="tel" id="phone" placeholder="Phone">
                            <input class="mb" type="text" id="interested" placeholder="I'm interested" required>
                        </div>
                        <div class="request-block__right">
                            <textarea name="comment" placeholder="Tell me about your project" id="comment" cols="50"
                                rows="7"></textarea>
                            <h4>Project budget</h4>
                            <div class="radio-btn flex">
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn1" value="Under 10k">
                                    <label for="btn1">Under 10k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn2" value="10k - 25k">
                                    <label for="btn2">10k - 25k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn3" value="25k - 50kk">
                                    <label for="btn3">25k - 50k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn4" value="50k - 75k">
                                    <label for="btn4">50k - 75k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn5" value="75k - 100k">
                                    <label for="btn5">75k - 100k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn6" value="Over 100k">
                                    <label for="btn6">Over 100k</label>
                                </div>
                                <img class="line-abs" src="/img/stic.png" alt="stic">
                            </div>
                            <div class="check-adwise">
                                <input type="checkbox" id="check" name="check">
                                <p>
                                    I wish to receive occasional newsletters and emails from BWS</p>
                            </div>
                            <input class="submit-btn hover1" type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        @@include('_footer.html')
        <div class="footer__copyright">
            <div class="container-min links-block">
                <p> Copyright © 2009-2019 - BAUART WEB SOLUTIONS / All Rights Reserverd.</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </footer>
    @@include('_modal.html')
    @@include('_scripts.html')
</body>

</html>