<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet" />
    <title>Bauart Web Solution</title>
</head>

<body>
    @@include('_header.html')
    <main class="main">
        <div class="main__head-whoweare">
            <h2>FREQUENTLY ASKED QUESTIONS</h2>
            <p> We've compiled a list of commonly asked questions for your convenience. If you are unable to find the
                answer to your question, please contact us for further assistance. You can also browse the topics below
                to find what you are looking for.
            </p>
        </div>
        <div class="main__questions">
            <div class="questions--tabs">
                <div class="tabs--item portfolio__tab-1 portfolio__tab is-active ">
                    ALL
                </div>
                <div class="tabs--item portfolio__tab-2 portfolio__tab ">
                    WEBSITE
                </div>
                <div class="tabs--item portfolio__tab-3 portfolio__tab ">
                    BRANDING
                </div>
                <div class="tabs--item portfolio__tab-4 portfolio__tab ">
                    LOGO DESIGN
                </div>
            </div>
        </div>
        <section class="main__portfolio">
            <div class="main__portfolio--block  portfolio__tab-content-1 main__portfolio--is-active">
                <div style="background-image: url(/img/portfolio/1.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/2.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/3.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/4.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/5.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/6.png);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__portfolio--block portfolio__tab-content-2">
                <div style="background-image: url(/img/portfolio/4.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/5.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/6.png);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__portfolio--block portfolio__tab-content-3">
                <div style="background-image: url(/img/portfolio/1.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/2.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/3.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__portfolio--block portfolio__tab-content-4">
                <div style="background-image: url(/img/portfolio/1.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/2.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
                <div style="background-image: url(/img/portfolio/3.jpg);background-position: center center; background-size: cover;"
                    class="block__item">
                    <div class="block__item--content">
                        <div class="content__title">
                            <h5>МАКУЛАТУРА24.РФ</h5>
                        </div>
                        <div class="content__text">
                            <p>B2B & B2C Corporate Website</p>
                        </div>
                        <div class="content__btn">
                            <a href="#"> VIEW CASE STUDY</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__portfolio--link">
                <a href="#">LOAD MORE</a>
                <svg width="30" height="8" viewBox="0 0 30 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="8" height="8" rx="4" fill="#FC9D54" />
                    <rect x="11" width="8" height="8" rx="4" fill="#FC9D54" />
                    <rect x="22" width="8" height="8" rx="4" fill="#FC9D54" />
                </svg>

            </div>
        </section>
        <section class="main__request-block">
            <div class="request-block container-min flex-column">
                <h2>Connect With Experts</h2>
                <p>We are happy to answer your question and take your App to a next level of excellence.</p>
                <form action="post">
                    <div class="allblock-request">
                        <div class="request-block__left flex-column">
                            <input class="mb" type="text" id="name1" placeholder="Full name" required>
                            <input class="mb" type="email" id="email1" placeholder="Email" required>
                            <input class="mb" type="tel" id="phone1" placeholder="Phone">
                            <input class="mb" type="text" id="interested1" placeholder="I'm interested" required>
                        </div>
                        <div class="request-block__right">
                            <textarea name="comment" placeholder="Tell me about your project" id="comment1" cols="50"
                                rows="7"></textarea>
                            <h4>Project budget</h4>
                            <div class="radio-btn flex">
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn15" value="Under 10k">
                                    <label for="btn15">Under 10k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn25" value="10k - 25k">
                                    <label for="btn25">10k - 25k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn35" value="25k - 50kk">
                                    <label for="btn35">25k - 50k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn45" value="50k - 75k">
                                    <label for="btn45">50k - 75k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn55" value="75k - 100k">
                                    <label for="btn55">75k - 100k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn65" value="Over 100k">
                                    <label for="btn65">Over 100k</label>
                                </div>
                                <img class="line-abs" src="/img/stic.png" alt="stic">
                            </div>
                            <div class="check-adwise">
                                <input type="checkbox" id="check1" name="check">
                                <p>
                                    I wish to receive occasional newsletters and emails from BWS</p>
                            </div>
                            <input class="submit-btn hover1" type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        @@include('_footer.html')
        <div class="footer__copyright">
            <div class="container-min links-block">
                <p> Copyright © 2009-2019 - BAUART WEB SOLUTIONS / All Rights Reserverd.</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </footer>
    @@include('_modal.html')
    @@include('_scripts.html')
</body>

</html>