<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet" />
    <title>Bauart Web Solution</title>
</head>

<body>
    @@include('_header.html')
    <main class="main">
        <div class="main__head-whoweare">
            <h2>web design and redesign</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
        </div>
        <div class="main__howwework">
            <h3>How we work</h3>
            <div class="howwework-body">
                <div class="howwework-body__item ">
                    <div class="item-img">
                        <img src="../img/howwework/form.png" alt="form">
                    </div>
                    <div class="item-number">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="15" fill="#FC9D54" />
                            <path d="M16.864 24H14.752V10.872C14.752 10.312 14.792 9.832 14.872 9.432L10.816 10.704L10.528 9.144L14.752 7.44H16.864V24Z" fill="white" />
                        </svg>
                    </div>
                    <div class="item-title">
                        <h4>Get to know us</h4>
                    </div>
                    <div class="item-text">
                        <p>
                            Fill out our simple form with requirements of your project you have in mind.
                        </p>
                    </div>
                </div>
                <div class="howwework-body__item ">
                    <div class="item-img">
                        <img src="../img/howwework/people.png" alt="people">
                    </div>
                    <div class="item-number">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="15" fill="#FC9D54" />
                            <path d="M9.65097 9.408L9.50697 7.776C11.283 7.36 12.963 7.152 14.547 7.152C16.291 7.152 17.571 7.4 18.387 7.896C19.219 8.376 19.635 9.32 19.635 10.728C19.635 11.768 19.419 12.728 18.987 13.608C18.555 14.472 17.787 15.52 16.683 16.752L11.931 22.056C12.683 21.992 13.579 21.96 14.619 21.96H20.235V24H9.36297V22.68C9.36297 22.296 9.46697 21.992 9.67497 21.768L14.475 16.344C15.563 15.176 16.347 14.16 16.827 13.296C17.307 12.416 17.531 11.592 17.499 10.824C17.483 10.072 17.227 9.584 16.731 9.36C16.251 9.136 15.475 9.024 14.403 9.024C12.803 9.024 11.219 9.152 9.65097 9.408Z" fill="white" />
                        </svg>
                    </div>
                    <div class="item-title">
                        <h4>Gather information</h4>
                    </div>
                    <div class="item-text">
                        <p>
                            We'll communicate with you to get a detailed understanding of your business and requirements.
                        </p>
                    </div>
                </div>
                <div class="howwework-body__item ">
                    <div class="item-img">
                        <img src="../img/howwework/magic-hat.png" alt="hat">
                    </div>
                    <div class="item-number">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="15" fill="#FC9D54" />
                            <path d="M9.81728 9.192L9.64928 7.56C11.2813 7.272 12.8333 7.128 14.3053 7.128C16.1613 7.128 17.4733 7.408 18.2413 7.968C19.0253 8.528 19.4173 9.528 19.4173 10.968C19.4173 13.432 18.6093 14.824 16.9933 15.144V15.24C18.0173 15.416 18.7453 15.848 19.1773 16.536C19.6093 17.224 19.8413 18.176 19.8733 19.392C19.9053 21.104 19.5133 22.352 18.6973 23.136C17.8973 23.92 16.5373 24.312 14.6173 24.312C13.1293 24.312 11.3773 24.168 9.36128 23.88L9.50528 22.176C11.3133 22.336 12.8413 22.416 14.0893 22.416C15.4333 22.416 16.3853 22.176 16.9453 21.696C17.5053 21.216 17.7853 20.376 17.7853 19.176C17.7853 18.168 17.5533 17.408 17.0893 16.896C16.6413 16.384 15.7773 16.128 14.4973 16.128H11.4253V14.472H14.4973C15.6813 14.456 16.4573 14.184 16.8253 13.656C17.2093 13.128 17.4013 12.392 17.4013 11.448C17.3853 10.44 17.1453 9.784 16.6813 9.48C16.2173 9.16 15.3293 9 14.0173 9C12.6893 9 11.2893 9.064 9.81728 9.192Z" fill="white" />
                        </svg>
                    </div>
                    <div class="item-title">
                        <h4>Creation</h4>
                    </div>
                    <div class="item-text">
                        <p>
                            We create perfect and flawless designs after assembling and understanding all your information.
                        </p>
                    </div>
                </div>
                <div class="howwework-body__item ">
                    <div class="item-img">
                        <img src="../img/howwework/gift.png" alt="gift">
                    </div>
                    <div class="item-number">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="15" cy="15" r="15" fill="#FC9D54" />
                            <path d="M21.1024 19.728L18.9664 19.944V24H16.9744V19.944H10.1104C9.43844 19.944 8.93444 19.672 8.59844 19.128C8.27844 18.584 8.25444 18 8.52644 17.376L13.2304 7.44H15.3184L10.6864 17.232C10.5584 17.552 10.5504 17.8 10.6624 17.976C10.7904 18.136 10.9984 18.216 11.2864 18.216H16.9744V13.344L17.3344 10.608H18.9664V18.216H21.1024V19.728Z" fill="white" />
                        </svg>
                    </div>
                    <div class="item-title">
                        <h4>Product delivery</h4>
                    </div>
                    <div class="item-text">
                        <p>
                            We will provide all the standard file formats after you approve the design.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__whatwedo">
            <h3>WHAT WE DO</h3>
            <div class="cardsection">
                <div class="cardsection__item">
                    <h4>FULL-FIDELITY MOCKUPS</h4>
                    <img class="img_service" src="/img/Service/1.png" alt="name">
                    <p>The old maxim “don’t judge a book by its cover” is dead. People will associate quality design with quality products. And poor design with poor products. So, let’s make your site look GOOD.
                        <b>Complete Page Layouts, Helpful Feedback & Design Tips.</b></p>
                </div>
                <div class="cardsection__item">
                    <h4>RESPONSIVE DESIGN</h4>
                    <img class="img_service" src="/img/Service/2.png" alt="name">
                    <p>Did you know over 50% of people browse the web via their phone? Don’t miss out on potential conversions, leads, and sales by forcing your users to “pinch and zoom.”
                        <b>Give it a try: Shrink your browser! Our site adapts to any screen, Target a Wider Audience, Improved Search Rankings.</b></p>
                </div>
                <div class="cardsection__item">
                    <h4>USER INTERFACE</h4>
                    <img class="img_service" src="/img/Service/3.png" alt="name">
                    <p>If your visitors can’t quickly and easily navigate your site, they will leave. We create simple and elegant UI solutions that compel users to stay, to fill out forms, and to make purchases.
                        <b>Fully Branded websites, Simple Navigation, Clean, Efficient Designs.</b></p>
                </div>
                <div class="cardsection__item">
                    <h4>USER EXPERIENCE</h4>
                    <img class="img_service" src="/img/Service/4.png" alt="name">
                    <p>People remember a bad experience, and it may cost you. We’ll help you create a memorable, positive environment that’ll set you up for success.
                        <b>User Centered Design, Clear Design Guidelines, Usability Considerations</b></p>
                </div>
                <div class="cardsection__item">
                    <h4>INFOGRAPHICS</h4>
                    <img class="img_service" src="/img/Service/5.png" alt="name">
                    <p>Generate excitement about your brand with eye-catching designs and insightful data points. We pinpoint what readers want, making sure we hit the right topic to create a more significant impact on site traffic.
                        <b> Dazzling Data Visualizations, Creative Story Telling, Share Fresh and Relevant Content.</b></p>
                </div>
                <div class="cardsection__item">
                    <h4>FULL WEBSITE REDESIGN</h4>
                    <img class="img_service" src="/img/Service/6.png" alt="name">
                    <p>Give your website an updated look and functionality with our custom WordPress redesign services.</p>
                </div>
            </div>
        </div>
        <div class="main__review-body review-body">
            <div class="review-body__slider container-min">
                <div class="slider-review">
                    <div class="slider-review__item item">
                        <div class="item__logo">
                            <img src="/img/reviewlogo/upworkNew2.png" alt="upworkNew2">
                        </div>
                        <div class="item__body">
                            <h3>BAUART Group is a Top Rated agency on Upwork</h3>
                            <p>Let our work speak for itself</p>
                            <img src="/img/rev.png" alt="rev"><br>
                            <i>Excellent communication, completed the project exactly as requested. Created AMP landing
                                page using an existing non-AMP page as a reference.</i>
                            <p>Name </p>
                            <p>USA, New York</p>
                        </div>
                    </div>
                    <div class="slider-review__item item">
                        <div class="item__logo">
                            <img src="/img/reviewlogo/upworkNew2.png" alt="upworkNew2">
                        </div>
                        <div class="item__body">
                            <h3>BAUART Group is a Top Rated agency on Upwork</h3>
                            <p>Let our work speak for itself</p>
                            <img src="/img/rev.png" alt="rev"><br>
                            <i>Excellent communication, completed the project exactly as requested. Created AMP landing
                                page using an existing non-AMP page as a reference.</i>
                            <p>Name </p>
                            <p>USA, New York</p>
                        </div>
                    </div>
                    <div class="slider-review__item item">
                        <div class="item__logo">
                            <img src="/img/reviewlogo/upworkNew2.png" alt="upworkNew2">
                        </div>
                        <div class="item__body">
                            <h3>BAUART Group is a Top Rated agency on Upwork</h3>
                            <p>Let our work speak for itself</p>
                            <img src="/img/rev.png" alt="rev"><br>
                            <i>Excellent communication, completed the project exactly as requested. Created AMP landing
                                page using an existing non-AMP page as a reference.</i>
                            <p>Name </p>
                            <p>USA, New York</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__related-project">
            <h3>Related Project</h3>
            <div class="slider-project">
                
            </div>
            .
        </div>
        <div class="main__request-block">
            <div class="request-block container-min flex-column">
                <h2>Connect With Experts</h2>
                <p>We are happy to answer your question and take your App to a next level of excellence.</p>
                <form action="post">
                    <div class="allblock-request">
                        <div class="request-block__left flex-column">
                            <input class="mb" type="text" id="name" placeholder="Full name" required>
                            <input class="mb" type="email" id="email" placeholder="Email" required>
                            <input class="mb" type="tel" id="phone" placeholder="Phone">
                            <input class="mb" type="text" id="interested" placeholder="I'm interested" required>
                        </div>
                        <div class="request-block__right">
                            <textarea name="comment" placeholder="Tell me about your project" id="comment" cols="50" rows="7"></textarea>
                            <h4>Project budget</h4>
                            <div class="radio-btn flex">
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn1" value="Under 10k">
                                    <label for="btn1">Under 10k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn2" value="10k - 25k">
                                    <label for="btn2">10k - 25k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn3" value="25k - 50kk">
                                    <label for="btn3">25k - 50k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn4" value="50k - 75k">
                                    <label for="btn4">50k - 75k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn5" value="75k - 100k">
                                    <label for="btn5">75k - 100k</label>
                                </div>
                                <div class="radio-btn__item flex-column">
                                    <input class="rd-btn" type="radio" name="radio[]" id="btn6" value="Over 100k">
                                    <label for="btn6">Over 100k</label>
                                </div>
                                <img class="line-abs" src="/img/stic.png" alt="stic">
                            </div>
                            <div class="check-adwise">
                                <input type="checkbox" id="check" name="check">
                                <p>
                                    I wish to receive occasional newsletters and emails from BWS</p>
                            </div>
                            <input class="submit-btn hover1" type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        @@include('../_footer.html')
        <div class="footer__copyright">
            <div class="container-min links-block">
                <p> Copyright © 2009-2019 - BAUART WEB SOLUTIONS / All Rights Reserverd.</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </footer>
    @@include('_modal.html')
    @@include('_scripts.html')
</body>

</html>