<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet" />
    <title>Bauart Web Solution</title>
</head>

<body>
    @@include('_header.html')
    <main class="main">
        <div class="main__head-whoweare">
            <h2>reach us</h2>
            <p> Web Development Company Bauart Web Solutions was founded in Russia, Siberia in 2009.
                Now we have become one of the market leaders in our region. Our company is only discovering the American market now and we are really ready to work. We belong to the heart of the digital world. Our strengths are competence, diligence and creativity.
            </p>
        </div>
        <div class="main__ourteam mg">
            <div class="ourteam-title">
                <h3>OUR TEAM</h3>
            </div>
            <div class="ourteam-body">
                <div class="item popup-open">
                    <div class="item__img">
                    </div>
                    <div class="item__title">NAME</div>
                    <div class="item__subtitle">Position</div>
                    <div class="item__text">Characterization hobby</div>

                    <div class="item__popup">
                        <div class="popup-area"></div>
                        <div class="popup-content"></div>
                    </div>
                </div>
                <div class="item popup-open">
                    <div class="item__img">
                    </div>
                    <div class="item__title">NAME</div>
                    <div class="item__subtitle">Position</div>
                    <div class="item__text">Characterization hobby</div>
                </div>
                <div class="item popup-open">
                    <div class="item__img">
                    </div>
                    <div class="item__title">NAME</div>
                    <div class="item__subtitle">Position</div>
                    <div class="item__text">Characterization hobby</div>
                </div>
                <div class="item popup-open">
                    <div class="item__img">
                    </div>
                    <div class="item__title">NAME</div>
                    <div class="item__subtitle">Position</div>
                    <div class="item__text">Characterization hobby</div>
                </div>
            </div>
            <div class="allteam">
                <a href="#">view all team >></a>
            </div>
        </div>
        <div class="main__wantwork">
            <h2>Want work woth us?</h2>
            <p>We’re always looking for talented and self-motivated people to join our cool and hard-working team! If you like to work on high-quality projects and cutting-edge technologies, we have a spot for you!</p>
            <div class="wantwork-cards">
                <div class="wantwork-cards__item">
                    <div class="flex">
                        <div class="item__img">
                            <img src="../img/wantwork/programming.png" alt="programmimg">
                        </div>
                        <div class="item__title">
                            <h4>PHP Developers</h4>
                            <p>Krasnoyarsk, Russia</p>
                        </div>
                    </div>
                    <div class="item__btn">
                        <a href="#">SEE MORE</a>
                    </div>
                </div>
                <div class="wantwork-cards__item">
                    <div class="flex">
                        <div class="item__img">
                            <img src="../img/wantwork/smm.png" alt="smm">
                        </div>
                        <div class="item__title">
                            <h4>SMM Manager</h4>
                            <p>Krasnoyarsk, Russia</p>
                        </div>
                    </div>
                    <div class="item__btn">
                        <a href="#">SEE MORE</a>
                    </div>
                </div>
                <div class="wantwork-cards__item">
                    <div class="flex">
                        <div class="item__img">
                            <img src="../img/wantwork/research.png" alt="research">
                        </div>
                        <div class="item__title">
                            <h4>SEO Specialist</h4>
                            <p>Krasnoyarsk, Russia</p>
                        </div>
                    </div>
                    <div class="item__btn">
                        <a href="#">SEE MORE</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer class="footer">
        @@include('_footer.html')
        <div class="footer__copyright">
            <div class="container-min links-block">
                <p> Copyright © 2009-2019 - BAUART WEB SOLUTIONS / All Rights Reserverd.</p>
                <p>Privacy Policy</p>
            </div>
        </div>
    </footer>
    @@include('_modal.html')
    @@include('_scripts.html')
</body>

</html>