.main__article {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;

  &--text {
    margin: 30px 0;

    p {
      font-size: 24px;
      text-align: justify;

      @media only screen and(max-width:767px) {
        font-size: 16px;
      }
    }
  }

  &--links {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    svg {
      margin: 0 20px;
    }
  }

  &--slider {

    .aritcle-slider {
      position: relative;
      box-shadow: 4px 14px 27px rgba(0, 0, 0, 0.15);
      margin-top: 50px;
      margin-bottom: 35px;

      .article-slider__item {
        a {
          text-decoration: none;
          color: $greycolor3;
        }

        .item--content {
          padding: 30px;

          &__subtitle {
            margin: 10px 0;
          }

          &__title {
            font-size: 24px;
            margin: 20px 0;
            font-weight: 500;
            color: $greycolor3;
          }

          &__text {
            margin: 10px 0;
          }
        }
      }

      /* Слайдер */
      .slick-slider {}

      /* Слайдер запущен */
      .slick-slider.slick-initialized {}

      /* Слайдер с точками */
      .slick-slider.slick-dotted {}

      /* Ограничивающая оболочка */
      .slick-list {
        overflow: hidden;
      }

      /* Лента слайдов */
      .slick-track {
        display: flex;
      }

      /* Слайд */
      .slick-slide {
        outline: none;
      }

      /* Слайд активный (показывается) */
      .slick-slide.slick-active {}

      /* Слайд основной */
      .slick-slide.slick-current {}

      /* Слайд по центру */
      .slick-slide.slick-center {}

      /* Клонированный слайд */
      .slick-slide.slick-cloned {}

      /* Стрелка */
      .slick-arrow {
        display: flex;
        position: absolute;
        bottom: -15%;
        z-index: 50;
      }

      /* Стрелка влево */
      .slick-arrow.slick-prev {
        background-image: url('../img/slider/left-arrow.png');
        font-size: 0;
        height: 30px;
        width: 45px;
        background-color: $white;
      }

      /* Стрелка вправо */
      .slick-arrow.slick-next {
        background-image: url('../img/slider/right-arrow.png');
        font-size: 0;
        height: 30px;
        width: 45px;
        background-color: $white;
        right: 0;
      }

      /* Стрелка не активная */
      .slick-arrow.slick-disabled {}

      /* Точки (булиты) */
      .slick-dots {}

      .slick-dots li {}

      /* Активная точка */
      .slick-dots li.slick-active button {}

      /* Элемент точки */
      .slick-dots li button {}
    }
  }

  &--allposts {
    display: flex;
    justify-content: center;
  }
}