// переменные для проекта
$mainorange: #fc9d54;
$white:#fff;
$greycolor:#5f5f5f;
$allgrey:#f0f0f0;
$greycolor2:#d2d2d2;
$greycolor3:#5d5d5d;
$lightgrey1:#696969;
$greycolor4:#777777;
$color1: #e6e6e6;;
$color2:#555555;

// тени

$shadow: 10px 10px 20px -3px grey;;