// общие стили для документа
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column
}


.a-orange-btn {
    background-color: $mainorange;
    padding: 25px 90px;
    transition: 0.5s;

    &:hover {
        padding: 30px 95px;
    }
}

.container-min {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center
}

html,
body {
    height: 100%;
    background-color: #fff;
    font-family: 'Exo 2', sans-serif;
}

// стили слайдера в header
.slider {
    position: relative;

    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center
    }

    /* Слайдер */
    .slick-slider {}

    /* Слайдер запущен */
    .slick-slider.slick-initialized {}

    /* Слайдер с точками */
    .slick-slider.slick-dotted {}

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
    }

    /* Лента слайдов */
    .slick-track {
        display: flex;
        height: 750px;
    }

    /* Слайд */
    .slick-slide {
        outline: none;
    }

    /* Слайд активный (показывается) */
    .slick-slide.slick-active {}

    /* Слайд основной */
    .slick-slide.slick-current {}

    /* Слайд по центру */
    .slick-slide.slick-center {}

    /* Клонированный слайд */
    .slick-slide.slick-cloned {}

    /* Стрелка */
    .slick-arrow {}

    /* Стрелка влево */
    .slick-arrow.slick-prev {}

    /* Стрелка вправо */
    .slick-arrow.slick-next {}

    /* Стрелка не активная */
    .slick-arrow.slick-disabled {}

    /* Точки (булиты) */
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 80%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .slick-dots li {
        list-style: none;
        margin: 0 5px
    }

    /* Активная точка */
    .slick-dots li.slick-active button {
        background-color: $white;
    }

    /* Элемент точки */
    .slick-dots li button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: #827d7f;
        border-radius: 50%;

    }
}

button {
    cursor: pointer;
}



// Стили для header
.header {
    position: relative;

    .header-line {
        position: absolute;
        bottom: -7%;
        z-index: 1;
        object-fit: cover;
        object-position: center;
        max-width: 100%;

        @media only screen and(max-width: 1280px) {
            bottom: -5%;
        }

        @media only screen and(max-width: 1024px) {
            bottom: 0%;
        }

        @media only screen and(max-width: 768px) {
            bottom: 0%;
        }
    }

    .container {
        max-width: 1560px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;

        @media only screen and(max-width: 1023px) {
            max-width: 250px;
            display: flex;
            flex-direction: column;
        }


        &__logotip {}

        &__nav-menu {
            padding-top: 40px;
            padding-bottom: 40px;

            ul {
                display: flex;
                list-style: none;

                @media only screen and(max-width: 1023px) {
                    display: flex;
                    flex-direction: column;
                }
            }

            ul li {
                padding: 9px 21px;

                &:hover {
                    background-color: $mainorange;
                }
            }

            ul li a {
                text-decoration: none;
                color: #fff;
                font-size: 14px;
            }

            .block-p {
                display: none;
                position: absolute;
                right: 0;
                left: 26%;
                z-index: 5;
                margin: 0 auto;
                padding: 20px 0 0 0;

                @media only screen and(max-width: 1380px) {
                    left: 23%;
                }

                @media only screen and(max-width: 1280px) {
                    left: 20%;
                }

                @media only screen and(max-width: 1124px) {
                    left: 14%;
                }

                @media only screen and(max-width: 1023px) {
                    left: 0%;
                    top: -15%;
                }

                .under-menu {
                    display: flex;
                    background-color: $allgrey;

                    @media only screen and(max-width: 1023px) {
                        display: flex;
                        flex-direction: column;
                    }


                    h3 {
                        font-size: 24px;
                        color: $greycolor;
                        font-weight: 100;
                        text-transform: uppercase;
                        margin-bottom: 30px;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;

                        li {
                            padding: 10px 0;

                            &:hover {
                                background-color: $allgrey;
                            }
                        }
                    }

                    ul li a {
                        text-decoration: none;
                        color: $greycolor;
                        font-size: 14px;

                        &:hover {
                            border-bottom: 1px solid $greycolor;
                        }
                    }

                    &__whoweare {
                        margin: 45px;

                        @media only screen and(max-width: 1023px) {
                            margin: 15px 45px;
                        }

                    }

                    &__team {
                        margin: 45px;

                        @media only screen and(max-width: 1023px) {
                            margin: 15px 45px;
                        }

                    }

                    &__contactus {
                        margin: 45px;
                        display: flex;
                        flex-direction: column;

                        @media only screen and(max-width: 1023px) {
                            margin: 15px 45px;
                        }

                        span a {
                            text-decoration: none;
                            color: $greycolor;
                            font-size: 14px;
                            margin-left: 5px;
                        }

                        .writetous {
                            margin: 10px 0;
                            cursor: pointer;
                            display: flex;
                            justify-content: flex-start;
                            font-size: 14px;
                            color: #fff;
                            background-color: $mainorange;
                            padding: 20px 15px 20px 15px;
                            text-transform: uppercase;
                            transition: 0.5s;

                            &:hover {
                                padding: 22px 15px 22px 15px;
                            }



                        }

                        .letsworktogether {
                            font-size: 14px;
                            cursor: pointer;
                            color: #fff;
                            display: flex;
                            justify-content: flex-start;
                            background-color: $greycolor2;
                            padding: 20px 15px 20px 15px;
                            text-transform: uppercase;
                            transition: 0.5s;

                            &:hover {
                                padding: 22px 15px 22px 15px;
                            }

                        }
                    }

                    &:hover {
                        display: flex;
                    }
                }


            }

            .dropdown:hover .block-p,
            .block-p:hover {
                display: flex;
                visibility: visible;
                opacity: 1;
            }

        }

        &__request-block {

            p {
                margin-left: 10px;
            }

            a {
                color: $white;
                font-size: 14px;
                text-decoration: none;
                margin-left: 10px;

                &:hover {
                    color: $mainorange;
                }
            }

            .skype-phone {
                margin-bottom: 10px;
                display: flex;
                color: $white;
                font-size: 14px;

                img {
                    margin-left: 10px;
                }
            }

            .lang {
                margin: 10px 0;
                display: flex;
                color: $white;
                text-transform: uppercase;
                font-size: 14px;

                img {
                    margin-left: 10px;
                }

                .active-lang {
                    color: $mainorange;
                }
            }

            .request-btn {
                margin: 10px 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: $mainorange;
                padding: 10px;
                color: $white;
                text-transform: uppercase;
                font-size: 14px;
                transition: 0.5s;

                &:hover {
                    padding: 15px;
                }

                img {
                    margin-left: 10px;
                }
            }

            .search-field {
                position: relative;
                margin: 10px 0;

                input {
                    padding: 15px 0 15px 5px;
                    width: 100%;
                    border: 1px solid $white;
                    background-color: rgba($white, 0.3);
                    color: $white;
                }

                img {
                    position: absolute;
                    top: 7px;
                    right: 17px;
                    cursor: pointer;
                }
            }
        }
    }

}

// стили блока с заголовком  и текстом
.main {
    &__head-whoweare {
        max-width: 1180px;
        width: 100%;
        margin: 10px auto;
        position: relative;
        z-index: 2;

        h2 {
            text-align: center;
            color: $greycolor3;
            font-size: 36px;
            font-weight: 500;
            text-transform: uppercase;
            margin: 20px 0
        }

        p {
            max-width: 1024px;
            width: 100%;
            margin: 25px auto;
            text-align: center;
            font-size: 17px;
            font-weight: 400;
            color: $lightgrey1;
        }
    }

    &__focused-approach {
        max-width: 1180px;
        width: 100%;
        margin: 100px auto;
        position: relative;
        z-index: 2;

        h2 {
            text-align: center;
            color: $greycolor3;
            font-size: 28px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 20px 0;
        }

        .approach-cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media only screen and(max-width: 1023px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            a {
                text-decoration: none;
            }

            &__item {
                max-width: 350px;
                width: 100%;
                height: 430px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 4px 14px 27px rgba(0, 0, 0, 0.22);
                transition: 0.5s;
                position: relative;
                margin: 30px 0;

                &:hover {
                    max-width: 355px;
                    height: 435px;
                }


                h3 {
                    color: $greycolor3;
                    font-size: 18px;
                    font-weight: 300;
                    margin: 35px 0;
                }

                p {
                    color: $greycolor3;
                    font-size: 12px;
                    font-weight: 300;
                    padding: 5px 5px;
                }

                img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    max-width: 100%;
                    object-fit: cover;

                }
            }
        }
    }

    &__video-block {
        h2 {
            text-align: center;
            color: $greycolor3;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 20px 0;
        }

        img {
            max-width: 100%;
            object-fit: cover;

        }

        .body-video {
            position: relative;

            .play-btn {
                max-width: 30%;
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;

            }
        }
    }

    &__seeportfolio {
        align-items: center;

        h2 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 28px;
            font-weight: 300;
            text-transform: uppercase;
            color: $greycolor3;
        }

        a {
            max-width: 414px;
            color: $white;
            text-decoration: none;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;

            @media only screen and(max-width: 370px) {
                padding: 25px 50px;
            }
        }
    }

    &__request-block {
        margin: 110px 0;

        .request-block {
            padding: 40px 120px;
            align-items: center;
            box-shadow: 4px 14px 27px rgba(0, 0, 0, 0.15);

            @media only screen and(max-width: 1023px) {
                flex-direction: column;
                padding: 40px 10px;
            }

            form {
                width: 100%;
            }

            .allblock-request {
                width: 100%;
                display: flex;


                @media only screen and(max-width: 1023px) {
                    flex-direction: column;
                    align-items: center;
                }

            }

            .mb {
                margin-bottom: 20px;
            }

            input {
                box-shadow: 4px 14px 27px rgba(0, 0, 0, 0.03);
                border: 1px solid #ececec;
                padding: 22px;
                width: 100%;

                @media only screen and(max-width: 414px) {
                    max-width: 370px;
                }

                @media only screen and(max-width: 370px) {
                    max-width: 320px;
                }
            }

            textarea {
                padding: 22px;
                width: 100%;
                border: 1px solid #ececec;

                @media only screen and(max-width: 414px) {
                    max-width: 370px;
                }

                @media only screen and(max-width: 370px) {
                    max-width: 320px;
                }
            }

            h2 {
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
                color: $greycolor3;
                margin: 35px 0;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                color: $greycolor3;
                margin-bottom: 40px;
            }

            &__left {
                margin-right: 35px;
                width: 50%;


                @media only screen and(max-width: 1023px) {
                    margin-right: 0px;
                }

                @media only screen and(max-width: 768px) {
                    margin-right: 0px;
                    width: 100%;
                }
            }

            &__right {
                width: 50%;
                margin-left: 35px;
                color: $greycolor3;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media only screen and(max-width: 1023px) {
                    margin-left: 0px;
                }

                @media only screen and(max-width: 768px) {
                    margin-right: 0px;
                    width: 100%;
                }

                .check-adwise {
                    display: flex;

                    input[type=checkbox] {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                }

                .submit-btn {
                    box-shadow: 4px 14px 27px rgba(0, 0, 0, 0.03);
                    border: 1px solid #ececec;
                    background-color: $mainorange;
                    cursor: pointer;
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 30px;
                    max-width: 420px;
                    width: 100%;
                    margin: 20px auto 20px auto;
                    transition: 0.5s;

                    &:hover {
                        padding: 35px;
                    }
                }


                h4 {
                    font-size: 18px;
                    font-weight: 300;
                    color: $greycolor3;
                    margin: 50px 0 20px 0;

                }

                .radio-btn {
                    position: relative;
                    width: 100%;
                    padding: 30px 0;
                    justify-content: space-between;


                    .line-abs {
                        position: absolute;
                        left: 0;
                        top: 14%;
                        left: 6%;
                        z-index: -2;
                        width: 86%;



                        @media only screen and(max-width: 768px) {
                            width: 82%;
                        }

                    }

                    &__item {
                        margin-right: 5px;

                        .rd-btn {
                            display: none;
                            z-index: -1;
                            opacity: 0;

                        }

                        .rd-btn+label {
                            position: relative;
                            cursor: pointer;
                            font-size: 15px;
                            color: $greycolor3;

                            @media only screen and(max-width: 1240px) {
                                font-size: 14px;
                            }

                            @media only screen and(max-width: 1114px) {
                                font-size: 13px;
                            }

                            @media only screen and(max-width: 450px) {
                                font-size: 12px;
                            }

                            @media only screen and(max-width: 320px) {
                                font-size: 10px;
                            }

                        }

                        .rd-btn+label:before {
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            background-color: #dedede;
                            border: 0px;
                            outline: none;
                            border-radius: 50%;
                            top: -55px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;


                        }

                        .rd-btn+label:after {
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            background-color: #ff9545;
                            border: 0px solid #838383;
                            outline: none;
                            border-radius: 50%;
                            opacity: 0;
                            -webkit-transition: .2s;
                            -o-transition: .2s;
                            transition: .2s;
                            top: -55px;
                            left: 0px;
                            right: 0px;
                            bottom: 0px;
                            margin: auto;
                        }

                        .rd-btn:checked+label:before {
                            border: 3px solid #ff9545;
                            background-color: white;
                        }

                        .rd-btn:checked+label:after {
                            opacity: 1;
                        }
                    }

                }
            }


        }
    }

    &__news-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0;



        h2 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 28px;
            font-weight: 300;
            text-transform: uppercase;
            color: $greycolor3;
        }

        a {
            text-align: center;
            color: $mainorange;
            text-decoration: none;
            font-size: 14px;

        }

        .img-block {
            height: auto;
            width: 100%;

            img {
                max-width: 100%;
                object-fit: cover;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
            }
        }


        .body-news {
            padding: 15px;


            .sub-title p {
                font-size: 12px;
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: 20px;
                color: $greycolor3;
            }

            .title h4 {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 20px;
                color: $greycolor3;
            }

            .text-news p {
                font-size: 14px;
                font-weight: 300;
                color: $greycolor3;
            }
        }

        .news-block {
            margin-top: 20px;
            display: flex;

            width: 100%;

            @media only screen and(max-width: 1080px) {
                max-width: 540px;
                flex-direction: column;
                align-items: center;
            }

            &__left {
                display: flex;
                flex-direction: column;
                width: 50%;
                margin-right: 10px;
                box-shadow: 4px 14px 13px 1px rgba(0, 0, 0, 0.04);
                border: 1px solid #f3f3f3;

                @media only screen and(max-width: 1080px) {
                    width: 100%;
                }
            }

            &__right {
                width: 50%;
                margin-left: 10px;

                @media only screen and(max-width: 1080px) {
                    width: 100%;
                }



                .news-item {
                    box-shadow: 4px 14px 13px 1px rgba(0, 0, 0, 0.04);
                    border: 1px solid #f4f4f4;
                    display: flex;

                    &:nth-child(1) {
                        margin-bottom: 20px;
                    }
                }
            }

        }
    }

    &__questions {
        margin: 150px auto;
        max-width: 1180px;
        width: 100%;

        .questions--tabs {
            display: flex;
            justify-content: center;
            margin: 50px 0;

            .is-active {
                padding: 20px;
                cursor: pointer;
                background-color: $mainorange;
                color: $white;
            }

            .tabs--item {
                padding: 20px;
                cursor: pointer;



                &:hover {
                    background-color: $mainorange;
                    color: $white;
                    padding: 20px;

                }
            }
        }

        .questions--accordion {
            display: none;

            .accordion__item {
                margin: 40px 0;

                .svg-trigger {
                    fill: $greycolor3;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: 0.5s;
                }

                .item__trigger {
                    cursor: pointer;
                    font-size: 24px;
                    font-weight: 600;
                    color: $greycolor3;
                    transition: 0.5s;

                    &:hover {
                        color: $mainorange;
                    }

                    &:hover .svg-trigger {
                        fill: $mainorange;
                    }
                }



                .item__content {
                    display: none;
                    transition: 0.5s;
                    padding: 10px 40px;
                    color: $greycolor3;
                }

                input {
                    display: none;
                    position: absolute;
                }
            }

            .trigger-active {
                .svg-trigger {
                    fill: $mainorange;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: 0.5s;

                    transform: rotate(180deg)
                }

                .item__trigger {
                    cursor: pointer;
                    font-size: 24px;
                    font-weight: 600;
                    color: $mainorange;
                    transition: 0.5s;

                }
            }

            &:target {
                display: block;
            }
        }

        .tab-content-active {
            display: block;
        }


    }

}

// стили слайдера отзывов
.slider-review {
    position: relative;
    box-shadow: 4px 14px 27px rgba(0, 0, 0, 0.15);
    margin: 110px 0;


    &__item {
        display: flex;
        padding: 50px;

        @media only screen and(max-width: 525px) {
            flex-direction: column;
            padding: 20px;
        }

        .item__logo {
            padding: 0 50px;

            @media only screen and(max-width: 767px) {
                padding: 10px 15px;
            }
        }

        .item__body {
            padding: 0 50px;

            @media only screen and(max-width: 525px) {
                padding: 10px 15px;
            }

            img {
                margin: 30px 0;
            }

            i {
                margin: 0 0 30px 0;
            }

            h3 {
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
                text-align: left;
                color: $greycolor3;
                margin: 0 0 35px 0;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                color: $greycolor3;
                margin-top: 15px;
            }
        }
    }

    /* Слайдер */
    .slick-slider {}

    /* Слайдер запущен */
    .slick-slider.slick-initialized {}

    /* Слайдер с точками */
    .slick-slider.slick-dotted {}

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
    }

    /* Лента слайдов */
    .slick-track {
        display: flex;
    }

    /* Слайд */
    .slick-slide {
        outline: none;
    }

    /* Слайд активный (показывается) */
    .slick-slide.slick-active {}

    /* Слайд основной */
    .slick-slide.slick-current {}

    /* Слайд по центру */
    .slick-slide.slick-center {}

    /* Клонированный слайд */
    .slick-slide.slick-cloned {}

    /* Стрелка */
    .slick-arrow {}

    /* Стрелка влево */
    .slick-arrow.slick-prev {}

    /* Стрелка вправо */
    .slick-arrow.slick-next {}

    /* Стрелка не активная */
    .slick-arrow.slick-disabled {}

    /* Точки (булиты) */
    .slick-dots {
        display: flex;
        justify-content: center;
    }

    .slick-dots li {
        list-style: none;

        margin: 20px 5px
    }

    /* Активная точка */
    .slick-dots li.slick-active button {
        background-color: $mainorange;

    }

    /* Элемент точки */
    .slick-dots li button {
        font-size: 0;
        display: flex;
        width: 10px;
        height: 10px;
        background-color: $greycolor3;
        border-radius: 50%;

    }
}

.mg {
    margin: 150px auto;
}

h3 {
    font-size: 36px;
    color: $greycolor3;
    text-align: center;
    font-weight: 300;

}