    .modal-request-bloc {
        margin: 110px 0;

        .request-block {
            padding: 40px 120px;
            align-items: center;
            box-shadow: 4px 14px 27px rgba(0, 0, 0, 0.15);

            @media only screen and(max-width: 1023px) {
                flex-direction: column;
                padding: 40px 10px;
            }

            form {
                width: 100%;
            }

            .allblock-request {
                width: 100%;
                display: flex;


                @media only screen and(max-width: 1023px) {
                    flex-direction: column;
                    align-items: center;
                }

            }

            .mb {
                margin-bottom: 20px;
            }

            input {
                box-shadow: 4px 14px 27px rgba(0, 0, 0, 0.03);
                border: 1px solid #ececec;
                padding: 22px;
                width: 100%;

                @media only screen and(max-width: 414px) {
                    max-width: 370px;
                }

                @media only screen and(max-width: 370px) {
                    max-width: 320px;
                }
            }

            textarea {
                padding: 22px;
                width: 100%;
                border: 1px solid #ececec;

                @media only screen and(max-width: 414px) {
                    max-width: 370px;
                }

                @media only screen and(max-width: 370px) {
                    max-width: 320px;
                }
            }

            h2 {
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
                color: $greycolor3;
                margin: 35px 0;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                color: $greycolor3;
                margin-bottom: 40px;
            }

            &__left {
                margin-right: 35px;
                width: 50%;


                @media only screen and(max-width: 1023px) {
                    margin-right: 0px;
                }

                @media only screen and(max-width: 768px) {
                    margin-right: 0px;
                    width: 100%;
                }
            }

            &__right {
                width: 50%;
                margin-left: 35px;
                color: $greycolor3;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media only screen and(max-width: 1023px) {
                    margin-left: 0px;
                }

                @media only screen and(max-width: 768px) {
                    margin-right: 0px;
                    width: 100%;
                }

                .check-adwise {
                    display: flex;

                    input[type=checkbox] {
                        width: 10%;
                    }
                }

                .submit-btn {
                    box-shadow: 4px 14px 27px rgba(0, 0, 0, 0.03);
                    border: 1px solid #ececec;
                    background-color: $mainorange;
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 30px;
                    max-width: 420px;
                    width: 100%;
                    margin: 20px auto 70px auto;
                }

                h4 {
                    font-size: 18px;
                    font-weight: 300;
                    color: $greycolor3;
                    margin: 50px 0 20px 0;

                }

                .radio-btn {
                    position: relative;
                    width: 100%;
                    padding: 30px 0;
                    justify-content: space-between;


                    .line-abs {
                        position: absolute;
                        left: 0;
                        top: 14%;
                        left: 6%;
                        z-index: -2;
                        width: 86%;



                        @media only screen and(max-width: 768px) {
                            width: 82%;
                        }

                    }

                    &__item {
                        margin-right: 5px;

                        .rd-btn {
                            display: none;
                            z-index: -1;
                            opacity: 0;

                        }

                        .rd-btn+label {
                            position: relative;
                            cursor: pointer;
                            font-size: 15px;
                            color: $greycolor3;

                            @media only screen and(max-width: 1240px) {
                                font-size: 14px;
                            }

                            @media only screen and(max-width: 1114px) {
                                font-size: 13px;
                            }

                            @media only screen and(max-width: 450px) {
                                font-size: 12px;
                            }

                            @media only screen and(max-width: 320px) {
                                font-size: 10px;
                            }

                        }

                        .rd-btn+label:before {
                            content: '';
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            background-color: #dedede;
                            border: 0px;
                            outline: none;
                            border-radius: 50%;
                            top: -55px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;


                        }

                        .rd-btn+label:after {
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            background-color: #ff9545;
                            border: 0px solid #838383;
                            outline: none;
                            border-radius: 50%;
                            opacity: 0;
                            -webkit-transition: .2s;
                            -o-transition: .2s;
                            transition: .2s;
                            top: -55px;
                            left: 0px;
                            right: 0px;
                            bottom: 0px;
                            margin: auto;
                        }

                        .rd-btn:checked+label:before {
                            border: 3px solid #ff9545;
                            background-color: white;
                        }

                        .rd-btn:checked+label:after {
                            opacity: 1;
                        }
                    }

                }
            }


        }
    }